USE [master]
GO
/****** Object:  Database [DB_STORE]    Script Date: 25.02.2022 17:25:36 ******/
CREATE DATABASE [DB_STORE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_STORE', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_STORE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_STORE_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_STORE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_STORE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_STORE]
GO
/****** Object:  Table [dbo].[ACTION_TABLE]    Script Date: 25.02.2022 17:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTION_TABLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OBJECT] [int] NULL,
	[MEMBER] [int] NULL,
	[EMPLOYEE] [tinyint] NULL,
	[BORROWDATE] [smalldatetime] NULL,
	[RETURNDATE] [smalldatetime] NULL,
	[MEMBERRETURNDATE] [smalldatetime] NULL,
	[ACTIONSTATUS] [bit] NULL,
 CONSTRAINT [PK_ACTION_TABLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADMIN_TABLE]    Script Date: 25.02.2022 17:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN_TABLE](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[USERNAME] [varchar](20) NOT NULL,
	[PASSWORD] [varchar](20) NULL,
	[AUTHORITY] [varchar](20) NULL,
 CONSTRAINT [PK_ADMIN_TABLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY_TABLE]    Script Date: 25.02.2022 17:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY_TABLE](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](25) NULL,
 CONSTRAINT [PK_CATEGORY_TABLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTACT_TABLE]    Script Date: 25.02.2022 17:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACT_TABLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[TOPIC] [varchar](50) NULL,
	[MESSAGE] [varchar](1000) NULL,
 CONSTRAINT [PK_CONTACT_TABLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEMBER_TABLE]    Script Date: 25.02.2022 17:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBER_TABLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](30) NULL,
	[SURNAME] [varchar](30) NULL,
	[EMAIL] [varchar](50) NULL,
	[USERNAME] [varchar](20) NULL,
	[PASSWORD] [varchar](20) NULL,
	[TELNUMBER] [varchar](20) NULL,
	[SCHOOL] [varchar](100) NULL,
 CONSTRAINT [PK_USER_TABLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OBJECT_TABLE]    Script Date: 25.02.2022 17:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBJECT_TABLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[CATEGORY] [tinyint] NULL,
	[STATUS] [bit] NULL,
	[DETAIL] [varchar](500) NULL,
	[OBJECTIMAGE] [varchar](250) NULL,
	[RESERVATIONSTATUS] [bit] NULL,
 CONSTRAINT [PK_BOOK_TABLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVED_OBJECT_TABLE]    Script Date: 25.02.2022 17:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVED_OBJECT_TABLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OBJECT] [int] NULL,
	[MEMBER] [int] NULL,
	[BORROWDATE] [smalldatetime] NULL,
	[RETURNDATE] [smalldatetime] NULL,
 CONSTRAINT [PK_RESERVED_OBJECT_TABLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ADMIN_TABLE] ON 

INSERT [dbo].[ADMIN_TABLE] ([ID], [NAME], [USERNAME], [PASSWORD], [AUTHORITY]) VALUES (1, N'default', N'admin', N'MTIzNDU2', N'Admin')
SET IDENTITY_INSERT [dbo].[ADMIN_TABLE] OFF
GO
ALTER TABLE [dbo].[ACTION_TABLE] ADD  CONSTRAINT [DF_ACTION_TABLE_ACTIONSTATUS]  DEFAULT ((0)) FOR [ACTIONSTATUS]
GO
ALTER TABLE [dbo].[OBJECT_TABLE] ADD  CONSTRAINT [DF_BOOK_TABLE_STATUS]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[OBJECT_TABLE] ADD  CONSTRAINT [DF_OBJECT_TABLE_RESERVATIONSTATUS]  DEFAULT ((1)) FOR [RESERVATIONSTATUS]
GO
ALTER TABLE [dbo].[ACTION_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_ACTION_TABLE_ADMIN_TABLE] FOREIGN KEY([EMPLOYEE])
REFERENCES [dbo].[ADMIN_TABLE] ([ID])
GO
ALTER TABLE [dbo].[ACTION_TABLE] CHECK CONSTRAINT [FK_ACTION_TABLE_ADMIN_TABLE]
GO
ALTER TABLE [dbo].[ACTION_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_ACTION_TABLE_BOOK_TABLE] FOREIGN KEY([OBJECT])
REFERENCES [dbo].[OBJECT_TABLE] ([ID])
GO
ALTER TABLE [dbo].[ACTION_TABLE] CHECK CONSTRAINT [FK_ACTION_TABLE_BOOK_TABLE]
GO
ALTER TABLE [dbo].[ACTION_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_ACTION_TABLE_MEMBER_TABLE] FOREIGN KEY([MEMBER])
REFERENCES [dbo].[MEMBER_TABLE] ([ID])
GO
ALTER TABLE [dbo].[ACTION_TABLE] CHECK CONSTRAINT [FK_ACTION_TABLE_MEMBER_TABLE]
GO
ALTER TABLE [dbo].[OBJECT_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_TABLE_CATEGORY_TABLE] FOREIGN KEY([CATEGORY])
REFERENCES [dbo].[CATEGORY_TABLE] ([ID])
GO
ALTER TABLE [dbo].[OBJECT_TABLE] CHECK CONSTRAINT [FK_BOOK_TABLE_CATEGORY_TABLE]
GO
ALTER TABLE [dbo].[RESERVED_OBJECT_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_RESERVED_OBJECT_TABLE_MEMBER_TABLE] FOREIGN KEY([MEMBER])
REFERENCES [dbo].[MEMBER_TABLE] ([ID])
GO
ALTER TABLE [dbo].[RESERVED_OBJECT_TABLE] CHECK CONSTRAINT [FK_RESERVED_OBJECT_TABLE_MEMBER_TABLE]
GO
ALTER TABLE [dbo].[RESERVED_OBJECT_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_RESERVED_OBJECT_TABLE_OBJECT_TABLE] FOREIGN KEY([OBJECT])
REFERENCES [dbo].[OBJECT_TABLE] ([ID])
GO
ALTER TABLE [dbo].[RESERVED_OBJECT_TABLE] CHECK CONSTRAINT [FK_RESERVED_OBJECT_TABLE_OBJECT_TABLE]
GO
USE [master]
GO
