@using ObjectManagementSystem.Models.Entity;
@model List<ACTION_TABLE>
@{
    ViewBag.Title = "MyItems";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>MyItems</h2>

<table class="table table-striped;" style="position: center; background-color: lightgray; table-layout: auto;">
    <tr>
        <th>Item Id</th>
        <th>Item Detailed Information</th>
        <th>Item Borrow Date</th>
        <th>Item Return Date</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (item.MEMBER_TABLE.USERNAME == ViewBag.ID)
            {
                <td>@item.OBJECT_TABLE.ID</td>
                <td>@item.OBJECT_TABLE.DETAIL</td>
                <td>@item.BORROWDATE</td>
                <td>@item.RETURNDATE</td>
            }

        </tr>
    }
</table>