@using ObjectManagementSystem.Models.Entity
@model List<EMPLOYEE_TABLE>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<head>
    <title>Employees</title>
</head>

<div>
    <h2 id="tableTitle" style="background-color:lightyellow;">Employees</h2>
</div>
<table class="table table-striped;" style="position: center; background-color: lightgray; table-layout: auto;">
    <tr>
        <th>Employee Id</th>
        <th>Employee Name</th>
        <th>Delete Employee</th>
        <th>Update Employee</th>
    </tr>

    @foreach (var employee in Model)
    {
        int x = 0;
        <tr>
            <td>@employee.ID</td>
            <td>@employee.EMPLOYEE</td>
            @foreach (var actionObj in employee.ACTION_TABLE.ToList())
            {
                if (actionObj.EMPLOYEE == employee.ID)
                {
                    <td><a href="/Employee/Index" class="btn btn-danger " style="background-color:darkred" onclick="return alert('The employee cannot be deleted without arrange loaned objects.')">Delete</a></td>
                    x = 1;
                    break;
                }
            }
            @if (x == 0)
            {
                <td><a href="/Employee/DeleteEmployee/@employee.ID" class="btn btn-danger" onclick="return confirm(' Are you sure you want to delete Employee:\n @employee.EMPLOYEE')" style="background-color:darkred">Delete</a></td>
            }

            <td><a href="/Employee/GetEmployee/@employee.ID" class="btn btn-info" style="background-color:darkseagreen;color:black">Update</a></td>
        </tr>
    }
</table>
<br />
<a style="margin-bottom:15px" href="/Employee/AddEmployee/" class="btn btn-primary">Add New Employee</a>

